:root {
    --primary-color: #5a8bb0
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

p {
    text-align: center;
    font-weight: bold;
}

.link-home {
    position: fixed;
    top: 1%;
    left: 1%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 6px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.link-home a {
    color: var(--primary-color);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    color: #ffffff;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}

.money-img {
    width: 150px;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    cursor: pointer;
    font-size: 16px;
    appearance: none;
}

.currency input {
    border: 0;
    background-color: transparent;
    font-size: 30px;
    text-align: right;
}

.invert-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 14px;
    padding: 0 10px;
}

.swap {
    display: flex;
    align-items: center;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

@media(max-width: 600px) {
    .currency input {
        width: 200px;
    }
}