:root {
    --success-collor: #2ecc71;
    --error-collor: #e74c3c;
}

.link-home {
    position: fixed;
    top: 1%;
    left: 1%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 6px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.link-home a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.container {
    background-color: #212224;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_room {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 550px;
}

.container_room__screen {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 150px;
    background: #fff;
    box-shadow: 0 2px 10px rgb(222, 214, 214);
}

.container_room_form {
    text-align: left;
    /* display: flex;
    flex-direction: column; */
}

.container_room_form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.listMovie {
    height: 30px;
    font-weight: bold;
    padding: 4px;
}

.container_room__car {
    margin-top: 15px;
    width: 500px;
    text-align: left;
    padding: 10px;
}

.container_room__car p {
    padding: 5px;
}

.legends {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.legends div {
    height: 17px;
    width: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.legends div.seatFree {
    background-color: #5582c8;
}

.legends div.seatSelect {
    background-color: #2ecc71;
}

.legends div.seatOccupied {
    background-color: #e74c3c;
}

.legends small {
    font-size: 0.8rem;
    padding: 10px;
}

.container-seat {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 300px;
    height: 400px;
}

.container-seat.inative {
    display: none;
}

.container-seat div {
    background-color: #444451;
    font-size: 9px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px 0 7px;
    height: 17px;
    width: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-seat div.seatFree {
    background-color: #5582c8;
    cursor: pointer;
}

.container-seat div.seatSelect {
    background-color: #2ecc71;
    cursor: pointer;
    ;
}

.container-seat div.seatOccupied {
    background-color: #e74c3c;
}